<div>
  <div>
    <h1>
      <%= @the_username4 %>
    </h1>

    <dl>
      <dt>
        Private
      </dt>
      <dd>
        <%= @user4.private %>
      </dd>


      <dt>
        Followers
      </dt>
      <dd>
        <%= FollowRequest.where(recipient_id: @user4, status: "accepted").count %>
      </dd>

      <dt>
        Following
      </dt>
      <dd>
        <%= FollowRequest.where(sender_id: @user4, status: "accepted").count %>
      </dd>


      <ul>
        <li><a href="/users/<%= @the_username4 %>">Profile</a></li>
        <li><a href="/users/<%= @the_username4 %>/liked_photos">Liked photos</a></li>
        <li><a href="/users/<%= @the_username4 %>/feed">Feed</a></li>
        <li><a href="/users/<%= @the_username4 %>/discover">Discover</a></li>
      </ul>

    </dl>
  </div>
</div>

<h2>Feed (<%= @list_of_photos4.count%>)</h2>

<div>
  <div>
    <table border="1">
      <tr>

        <th>
          Image
        </th>

        <th>
          Owner
        </th>

        <th>
        Caption
        </th>

        <th>
        Posted
        </th>

        <th>
        Likes
        </th>

        <th>
        </th>

      </tr>

      <% @list_of_photos4.each do |a_post| %>
      <tr>
        <td>
          <img src="<%= a_post.image %>" class="img-responsive">
        </td>

        <td>
          <%= User.where(id: a_post.owner_id).at(0).username %>
        </td>

        <td>
          <%= a_post.caption %>
        </td>

        <td>
          <%= time_ago_in_words(a_post.created_at) %> ago
        </td>

        <td>
          <%= a_post.likes_count %>
        </td>

        <td>
          <a href="/photos/<%= a_post.id %>">
            Show details
          </a>
        </td>

      </tr>
      <% end %>
    </table>
  </div>
</div>
