
<div>
  <div>
    <h1>
      Photo Details
    </h1>

    <dl>
      <dt>
        Image
      </dt>
      <dd>
        <img src="<%= @the_photo.image %>" class="img-responsive">
      </dd>

      <dt>
        Caption
      </dt>
      <dd>
        <%= @the_photo.caption %>
      </dd>

      <dt>
        Owner
      </dt>
      <dd>
        <%= @current_name %>
      </dd>

      <dt>
        Posted
      </dt>
      <dd>
        <%= time_ago_in_words(@the_photo.created_at) %> ago
      </dd>

      <dt>
        Likes count
      </dt>
      <dd>
        <%= @the_photo.likes_count %>
      </dd>

      <dt>
        Comments count
      </dt>
      <dd>
        <%= @the_photo.comments_count %>
      </dd>

      <dt>
        Add a fan
      </dt>
      <dd>
      <% current_like = Like.find_by(fan_id: current_user.id, photo_id: @the_photo.id) %>
      <% if !current_like %>
        <form action="/insert_like" method="post" class="form-horizontal" enctype="multipart/form-data">
          <input type="hidden" id="fan_id_box" name="query_fan_id" value="<%= current_user.id %>">
          <input type="hidden" id="photo_id_box" name="query_photo_id" value="<%= @the_photo.id %>">
          <button>
            Like
          </button>
        </form>
      <% else %>
        <%= link_to "Unlike", "/delete_like/#{current_like.id}", method: :get, data: { confirm: "Are you sure you want to unlike?" }, remote: true %>
      <% end %>
      </dd>
    </dl>
  </div>
</div>

<div>
  <% if current_user.username == @current_name %>
  <div>
      Edit photo

    <form action="/modify_photo/<%= @the_photo.id %>"  method="post" >
      <div>
        <label for="caption_box">
          Caption
        </label>

        <textarea id="caption_box" name="query_caption"><%= @the_photo.caption %></textarea>
      </div>

      <div>
        <label for="comments_count_box">
          Comments count
        </label>

        <input type="text" id="comments_count_box" name="query_comments_count" value="<%= @the_photo.comments_count %>">
      </div>

      <div>
        <label for="image_box">
          Image
        </label>

        <input type="text" id="image_box" name="query_image" value="<%= @the_photo.image %>">
      </div>

      <div>
        <label for="likes_count_box">
          Likes count
        </label>

        <input type="text" id="likes_count_box" name="query_likes_count" value="<%= @the_photo.likes_count %>">
      </div>

      <div>
        <label for="owner_id_box">
          Owner
        </label>

        <input type="text" id="owner_id_box" name="query_owner_id" value="<%= @the_photo.owner_id %>">
      </div>

      <button>
        Update photo
      </button>
    </form>
  </div>
  <% end %>
</div>

<div>
  <% if current_user.username == @current_name %>
  <a href="/delete_photo/<%= @the_photo.id %>">
    Delete this photo
  </a>
  <% end %>
</div>

<h2>Comments</h2>

<div>
  <div>
    <table border="1">
      <tr>

        <th>
          Commenter
        </th>

        <th>
          Comment
        </th>

        <th>
          Posted
        </th>

      </tr>

      <% @list_of_comments.each do |a_comment| %>
        <tr>
          <td>
            <% current_commenter = a_comment.author_id %>
            <%= User.find(current_commenter).username %>
          </td>

          <td>
            <%= a_comment.body %>
          </td>

          <td>
            <%= a_comment.created_at%>
          </td>
        </tr>
      <% end %>
    </table>
  </div>
</div>

<h3>Add a new comment</h3>

<form action="/insert_comment" method="post">
  <input type="hidden" id="photo_box" name="query_photo_id" value="<%= @the_photo.id %>">

  <input type="hidden" id="author_box" name="query_author_id" value="<%= current_user.id %>">
  
  <label for="browser_comment">Comment</label>
  <textarea id="browser_comment" name="query_body" placeholder="Enter a comment..."></textarea>

  <button>Add comment</button>
</form>
